<template>
  <section class="our-friends" id="ourFriends">

    <h3 class="our-friends__title">Our friends who are looking for a house</h3>
    <div class="cards">
      <div class="our-friends__slide-list" v-for="pet in visiblePets" :key="pet.id">

        <div class="pet-card">
          <h4 class="pet-card__title">{{ pet.name }}</h4>
          <div class="pet-card__text">
            {{ pet.description }}
          </div>
          <div class="pet-card__button">Learn more</div>
        </div>
      </div>
    </div>

    <div class="our-friends__pagination">
      <button class="our-friends__pagination-start _disabled" disabled>&lt;&lt;</button>
      <button class="our-friends__pagination-left _disabled" disabled>&lt;</button>
      <span class="our-friends__pagination-page">{{ currentPage }}</span>
      <button class="our-friends__pagination-right" @click="nextPage">&gt;</button>
      <button class="our-friends__pagination-end" @click="lastPage">&gt;&gt;</button>
    </div>

  </section>
</template>

<script>
import {usePetsStore} from "@/stores/pets";

export default {
  data() {
    return {
      currentPage: 1,
      perPage: 5
    };
  },
  computed: {
    pets() {
      return usePetsStore().pets;
    },
    visiblePets() {
      const start = (this.currentPage - 1) * this.perPage;
      const end = start + this.perPage;
      return this.pets.slice(start, end);
    }
  },
  methods: {
    nextPage() {
      this.currentPage++;
    },
    lastPage() {
      this.currentPage = Math.ceil(this.pets.length / this.perPage)
    },
  },
};
</script>

<style lang="scss">
@import "src/assets/styles/our-friends";
@import "src/assets/styles/pet-card";

</style>