<template>
  <div>

    <section class="about">
      <div class="about__row wrapper">
        <div class="about__col1">
          <div class="about__image">

            <img src="../assets/images/about-pets.png" height="816" width="600"/></div>
        </div>
        <div class="about__col2">
          <h3 class="about__title">About the shelter “Cozy&nbsp;House”</h3>
          <p class="about__description">
            Currently we have 121 dogs and 342 cats on our hands and statistics show
            that only 20% of them will find a family. The others will continue to
            live with us and will be waiting for a lucky chance to become dearly
            loved.
          </p>
          <p class="about__description">
            We feed our wards with the best food and make sure that they do not get
            sick, feel comfortable (including psychologically) and well. We are
            supported by 87 volunteers and 28 employees of various skill levels.
            About 12% of the animals are taken by the shelter staff. Taking care of
            the animals, they become attached to the pets and would hardly ever
            leave them alone.
          </p>
        </div>
      </div>
    </section>
    <div class="Pets-content">
      <button class="left-control" @click="prevCard">
        <i class="">
          <img src="/src/assets/images/ArrowLeft.png" alt="">
        </i>
      </button>
      <div class="pets_wrapper">

        <div class="slider-container">

          <div class="slider-content" :style="{transform: 'translateX(' + -index*360 + 'px)'}">
            <div class="slider-item" v-for="card in cards" :key="card.id">
              <div class="card-wrapper" v-if="card.type === 'dog'">
                <div class="card-image"><img :src="card.img" alt="image"></div>
                <div class="card-title">
                  {{ card.name }}
                </div>
                <div class="card-button" @click="openModal(card)">
                  Learn more
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <button class="right-control" @click="nextCard">
        <i class="">
          <img src="/src/assets/images/ArrowRight.png" alt="">
        </i>
      </button>
    </div>
    <div class="help">
      <ListComponent></ListComponent>
    </div>
    <DonationComponent></DonationComponent>
    <FooterComponent></FooterComponent>
    <ModalComponent v-if="isModalOpen" :petData="selectedPet" @closeModal="closeModal"></ModalComponent>
  </div>

</template>

<script>

import ListComponent from "@/components/ListComponent.vue";
import DonationComponent from "@/components/DonationComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";

import {useCardsStore} from '@/stores/cards';
import ModalComponent from "@/components/ModalComponent.vue";

export default {
  components: {ModalComponent, ListComponent, DonationComponent, FooterComponent},
  data() {
    return {
      index: 0,
      cardsPerSlide: 3,
      isModalOpen: false,
      selectedPet: 2,
    };
  },
  computed: {
    cards() {
      return useCardsStore().cards;
    },
    visibleCards() {
      return this.cards.slice(this.index, this.index + this.cardsPerSlide);
    }
  },
  methods: {
    openModal(card) {
      console.log(card)
      this.selectedPet = card;
      this.isModalOpen = true;
    },
    closeModal() {
      this.isModalOpen = false;
    },
    nextCard() {
      if (this.index < this.cards.length - this.cardsPerSlide) {
        this.index += this.cardsPerSlide;
      }
    },
    prevCard() {
      if (this.index > 0) {
        this.index -= this.cardsPerSlide;
      }
    },
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/about";


.Pets-content .pets_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 435px;
  overflow: hidden;
  margin: 0 auto;


  flex-wrap: nowrap;


  .slider-container {
    position: relative;

    .slider-content {
      display: flex;
      transition: transform 0.5s ease;
      z-index: 1;
    }

    .slider-item {
      width: 270px;
      height: 435px;
      margin-right: 90px;
      display: inline-block;
      vertical-align: top;

      flex: 0 0 auto;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;

    padding: 35px 20px;
    box-sizing: border-box;
  }

  .card-image {
    width: 100%;
    height: 270px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .card-button {
    box-sizing: border-box;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
  }

  .left-control,
  .right-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 52px;
    height: 52px;
    top: 192px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    z-index: 999;

    i img {
      width: 14px;
      height: 6px;
    }
  }

  .left-control {
    left: 4%;
    margin-right: 53px;
  }

  .right-control {
    right: 53px;
    margin-left: 53px;
  }
}

@media screen and (max-width: 768px) {
   .pets_wrapper {
    height: auto;
    overflow: visible;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     .slider-content {
       margin: 0 auto;
       display: flex;
       flex-direction: column;
     }

    .slider-item {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 20px;
      flex: 0 0 auto;

      &:last-child {
        margin-right: 0;
      }
    }

    .card-wrapper {
      width: 100%;
      height: auto;
      padding: 20px;
      box-sizing: border-box;
    }

    .left-control,
    .right-control {
      width: 32px;
      height: 32px;
      top: auto;
      bottom: -30px;
      margin-top: 5px;

      i img {
        width: 8px;
        height: 3px;
      }
    }
  }
}


</style>