<script>
export default {
  name: 'DonationComponent',


}
</script>

<template>

  <section class="donation">
    <div class="donation__row wrapper">
      <div class="donation__col1">
        <img src="/src/assets/images/donation-dog.png" alt="card" />
      </div>
      <div class="donation__col2">
        <h3 class="donation__title">You can also make a donation</h3>
        <p class="donation__caption">
        Name of the bank / Type of bank account
        </p>
        <a href="javascript: void(0);" class="donation__card">

          <span class="donation__number"> 8380 2880 8028 8791 7435 </span>
        </a>
        <p class="donation__legal">
          Legal information and lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed
          ac diam. Praesent ultrices maximus tortor et vulputate. Interdum
          et malesuada fames ac ante ipsum primis in faucibus.
        </p>
      </div>
    </div>
  </section>
<!--  <div class="wrapper">-->
<!--    <div class="donation_content">-->
<!--      <div class="img">-->

<!--      </div>-->

<!--      <div class="donation_text">-->
<!--        <h3>You can also make a donation</h3>-->
<!--        <p>Name of the bank / Type of bank account</p>-->
<!--        <div class="phone">-->
<!--          <div>-->
<!--            <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path-->
<!--                  d="M25.9815 23H4.01915C1.80285 23 0 21.2046 0 19.0001V3.9999C0 1.79421 1.80285 0 4.01915 0H25.9808C28.196 0 30 1.79421 30 3.9999V19.0001C30.0006 21.2052 28.1972 23 25.9815 23ZM4.01915 1.14285C2.43563 1.14285 1.14836 2.42396 1.14836 3.9999V19.0001C1.14836 20.5755 2.43563 21.8571 4.01915 21.8571H25.9808C27.5638 21.8571 28.8516 20.5755 28.8516 19.0001V3.9999C28.8516 2.42396 27.5638 1.14285 25.9808 1.14285H4.01915ZM20.7037 3.35993C22.1363 3.35993 23.2977 4.51532 23.2977 5.94153C23.2977 7.36774 22.1368 8.52376 20.7037 8.52376C19.2706 8.52376 18.1097 7.36783 18.1097 5.94153C18.1097 4.51523 19.2712 3.35993 20.7037 3.35993ZM24.3204 3.35993C25.7529 3.35993 26.9151 4.51532 26.9151 5.94153C26.9151 7.36774 25.7536 8.52376 24.3204 8.52376C22.8873 8.52376 21.7264 7.36783 21.7264 5.94153C21.7264 4.51523 22.8879 3.35993 24.3204 3.35993ZM3.0861 16.3339H7.8683V18.0481H3.0861V16.3339ZM9.43467 16.3339H14.2175V18.0481H9.43467V16.3339ZM15.782 16.3339H20.5659V18.0481H15.782V16.3339ZM22.1305 16.3339H26.9144V18.0481H22.1305V16.3339ZM3.0861 3.36046H12.1263V5.07474H3.0861V3.36046ZM3.0861 6.76208H7.86946V8.47637H3.0861V6.76208Z"-->
<!--                  fill="#292929"/>-->
<!--            </svg>-->
<!--          </div>-->
<!--          <span class="number">-->
<!--            8380 2880 8028 8791 7435-->
<!--          </span>-->
<!--        </div>-->
<!--        <p>Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero-->
<!--          sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac-->
<!--          ante ipsum primis in faucibus.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
</template>

<style lang="scss">
@import "@/assets/styles/donation";
/*.wrapper {*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  height: 462px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  background: #F6F6F6;*/
/*}*/


/*.donation_text {*/
/*  width: 380px;*/
/*  height: 282px;*/
/*  margin-left: 30px;*/
/*}*/

/*.img {*/
/*  width: 505px;*/
/*  height: 261px;*/
/*  background-image: url("/src/assets/images/donation-dog.png");*/
/*}*/

/*.donation_content {*/
/*  display: flex;*/
/*  width: 915px;*/
/*  height: 282px;*/
/*  margin: 0 auto;*/
/*  padding-bottom: 100px;*/
/*  padding-top: 80px;*/
/*}*/

/*p {*/
/*  font-family: 'Arial';*/
/*  font-style: italic;*/
/*  font-weight: 400;*/
/*  font-size: 12px;*/
/*  line-height: 18px;*/
/*  !* or 150% *!*/

/*  display: flex;*/
/*  align-items: center;*/

/*  !* color-dark-m *!*/

/*  color: #B2B2B2;*/
/*}*/

/*h3 {*/
/*  font-family: 'Georgia';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 35px;*/
/*  line-height: 130%;*/
/*  !* or 45px *!*/

/*  display: flex;*/
/*  align-items: center;*/
/*  letter-spacing: 0.06em;*/

/*  !* color-dark-l *!*/

/*  color: #545454;*/
/*  margin: 0;*/
/*}*/

/*.phone {*/
/*  display: flex;*/

/*  align-items: center;*/
/*  padding: 10px 15px;*/
/*  gap: 10px;*/


/*  width: 349px;*/


/*  !* color-primary *!*/

/*  background: #F1CDB3;*/
/*  border-radius: 9px;*/
/*}*/

/*.number {*/
/*  !* identical to box height, or 23px *!*/

/*  height: 23px;*/
/*  left: 60px;*/
/*  top: 10px;*/

/*  !* h4 *!*/

/*  font-family: 'Georgia';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 20px;*/
/*  line-height: 115%;*/
/*  !* identical to box height, or 23px *!*/

/*  display: flex;*/
/*  align-items: center;*/
/*  letter-spacing: 0.06em;*/

/*  !* color-dark-l *!*/

/*  color: #545454;*/
/*}*/

/*.credit {*/
/*  width: 30px;*/
/*  height: 23px;*/
/*  left: 15px;*/
/*  top: 10px;*/

/*  !* color-dark-3xl *!*/

/*  background: #292929;*/
//}
</style>