<script>
export default {
  name: 'FooterComponent',
}
</script>

<template>
  <footer class="footer" id="footer">
    <div class="footer__row ">
      <div class="footer__info wrapper">
        <div class="footer__col1">
          <h3 class="footer__title">For questions and suggestions</h3>
          <div class="footer__text">
            <a href="mailto:email@shelter.com">

              <span>email@shelter.com</span>
            </a>
          </div>
          <div class="footer__text">
            <a href="tel:+136745677554">
              <img src="" alt="phone" />
              <span>+13 674 567 75 54</span>
            </a>
          </div>
        </div>
        <div class="footer__col2">
          <h3 class="footer__title footer__title_sm">
            We are waiting for your visit
          </h3>
          <div class="footer__text">
            <a
                href="https://www.google.com/maps/place/1+Central+St,+Boston,+MA+02109,+%D0%A1%D0%A8%D0%90/@42.3585519,-71.0569203,17z/data=!3m1!4b1!4m5!3m4!1s0x89e370868bc2ce7b:0x82fa7db94f5fea9e!8m2!3d42.3585519!4d-71.0547263"
            >
              <img src="" alt="address" />
              <span>1 Central Street, Boston (entrance from the store)</span>
            </a>
          </div>
          <div class="footer__text">
            <a
                href="https://www.google.com/maps/place/40,+%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82+100187,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.337614,69.3736125,17z/data=!4m12!1m6!3m5!1s0x38aef5ffd6432b81:0xf5f413ad89f074d0!2s48+dom!8m2!3d41.3383672!4d69.3760667!3m4!1s0x38aef425ca5fd01d:0x590523133194a1b!8m2!3d41.336808!4d69.375705"
            >
              <img src="" alt="address" />
              <span>18 South Park, London </span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__image">
        <img src="/src/assets/images/footer-puppy.png" alt="mail" />
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
@import "@/assets/styles/footer";

</style>