<template>

  <section class="help" id="help">
    <div class="wrapper">
      <h3 class="help__title">How you can help our shelter</h3>
      <ul class="help__list">
        <li class="help__item">

          <img src="../assets/images/Pet.png" height="60" width="48"/><span class="help__text">Pet food</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Transportation.png" height="60" width="61"/><span class="help__text">Transportation</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Toys.png" height="60" width="60"/><span class="help__text">Toys</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Bowls.png" height="57" width="60"/><span class="help__text">Bowls and cups</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Shampoos.png" height="60" width="32"/><span class="help__text">Shampoos</span>
        </li>
        <li class="help__item">

          <span class="help__text"><img src="../assets/images/Vitamins.png" height="55" width="60"/>Vitamins</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Medicines.png" height="60" width="60"/><span class="help__text">Medicines</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Collars.png" height="53" width="60"/><span class="help__text">Collars / leashes</span>
        </li>
        <li class="help__item">

          <img src="../assets/images/Sleeping.png" height="60" width="57"/><span class="help__text">Sleeping areas</span>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>


export default {
  name: "ListComponent",
  components: {},

  mounted() {
    this.firstRow = this.items.slice(0, 5);
    this.secondRow = this.items.slice(5);
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/help";

</style>