<template>
  <div class="modal-wrapper">
    <div class="modal-backdrop" @click="$emit('closeModal')"></div>
    <div class="modal-content">
      <button class="close-button" @click="$emit('closeModal')">×</button>
      <img :src="petData.img" alt="">
      <h2>{{ petData.name }}</h2>
      <p>{{ petData.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    petData: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 900px;
  height: 500px;

  overflow-y: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 0px;
  top: 0px;
  color: #1A1A1C;

  /* color-primary */

  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

p {
  margin-top: 10px;
  font-size: 18px;
}

.modal-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>
