<script setup>
import {RouterLink, RouterView} from 'vue-router'

</script>

<template>
  <div class="appWrapper">
    <img src="/src/assets/images/start-screen-puppy.png" alt="">
    <div class="">
      <span class="heading">Not only people need a house</span>
      <span class="subheading">We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!</span>
      <button class="button_prumary">Make a friend</button>
    </div>

    <header>
      <div>
        <div class="logo_title">Cozy House</div>
        <div class="logo_subtitle">Shelter for pets in Boston</div>
      </div>
      <nav>
        <RouterLink to="/">About the shelter</RouterLink>
        <RouterLink to="/about">Our pets</RouterLink>
        <RouterLink to="/about">Help the shelter</RouterLink>
        <RouterLink to="/about">Contacts</RouterLink>
      </nav>
    </header>
  </div>


  <RouterView/>
</template>

<style lang="scss">
@import "@/assets/styles/colors.scss";

@media (min-width: 1024px) {
  .appWrapper {
    position: relative;
    background: $start-screen-gradient-background;

    height: 908px;
    padding-top: 60px;

    img {
      position: absolute;
      width: 698px;
      height: 728px;
      left: calc(50% - 698px / 2 + 251px);
      bottom: 0px;
    }
  }

  .content {

  }

  .button_prumary {
    align-items: center;
    padding: 15px 45px;
    gap: 10px;

    position: absolute;
    width: 207px;
    height: 52px;
    left: calc(30% - 207px / 2 - 126.5px);
    top: 613px;

    /* color-primary */

    background: #F1CDB3;
    border-radius: 100px;
  }

  .heading {
    position: absolute;
    width: 310px;
    height: 114px;
    left: calc(30% - 310px / 2 - 75px);
    bottom: 208px;
    top: 343px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .subheading {
    position: absolute;
    width: 460px;
    height: 72px;
    left: calc(30% - 460px / 2);
    top: 499px;

    /* paragraph-l */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #CDCDCD;
  }

  .logo_title {

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;
    color: #F1CDB3;
  }

  .logo_subtitle {
    width: 179px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px / 2 + 22.5px);


    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    /* color-light-xl */

    color: #FFFFFF;
  }

  header {


    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

  }

  nav {

    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-align: center;
      text-decoration: none;
      width: 114px;
      height: 24px;

      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      /* identical to box height, or 24px */


      /* color-light-s */

      color: #FAFAFA;
      /* identical to box height, or 24px */
      &:hover {
        border-bottom: 3px solid #F1CDB3;;
      }
    }
  }
}
@media (max-width: 768px) {
  .appWrapper {
    position: relative;
    background: $start-screen-gradient-background;
display: flex;
    flex-direction: column;
    height: 1165px;
    padding-top: 60px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      max-width: 569px;
      max-height: 593px;
      bottom: 0px;
    }
  }

  .content {

  }

  .button_prumary {
    position: absolute;
    width: 207px;
    height: 52px;
    left: calc(50% - 207px/2 - 0.5px);
    top: 420px;

    /* color-primary */

    background: #F1CDB3;
    border-radius: 100px;
  }

  .heading {
    top: 150px;
    position: absolute;
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);


    /* h2 */

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    display: flex;
    align-items: center;

    /* color-light-xl */

    color: #FFFFFF;
  }

  .subheading {
    position: absolute;
    width: 460px;
    height: 72px;
    left: calc(50% - 460px/2);
    top: 306px;

    /* paragraph-l */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #CDCDCD;
  }

  .logo_title {

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;
    color: #F1CDB3;
  }

  .logo_subtitle {
    width: 179px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px / 2 + 22.5px);


    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    /* color-light-xl */

    color: #FFFFFF;
  }

  header {


    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

  }

  nav {

    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-align: center;
      text-decoration: none;
      width: 114px;
      height: 24px;

      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      /* identical to box height, or 24px */


      /* color-light-s */

      color: #FAFAFA;
      /* identical to box height, or 24px */
      &:hover {
        border-bottom: 3px solid #F1CDB3;;
      }
    }
  }
}
</style>
