// Variables
$primary-font: 'Georgia', serif;
$secondary-font: 'Arial', sans-serif;
$primary-color: #C4C4C4;
$background-color: #1E1E1E;

// h2
h2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  background-color: $background-color;
}

// h3
h3 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  // or 45px
  letter-spacing: 0.06em;
  color: $primary-color;
  background-color: $background-color;
}

// h3-mobile
.h3-mobile {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  // or 32px
  letter-spacing: 0.06em;
  color: $primary-color;
}

// h4
h4 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  // identical to box height, or 23px
  letter-spacing: 0.06em;
  color: $primary-color;
}

// h5
h5 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  // identical to box height, or 17px
  letter-spacing: 0.06em;
  color: $primary-color;
}

// h5-modal-window
.h5-modal-window {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  // identical to box height, or 17px
  letter-spacing: 0.06em;
  color: $primary-color;
}

// paragraph-l
.paragraph-l {
  font-family: $secondary-font;
  font-size: 15px;
  line-height: 160%;
  // or 24px
  color: $primary-color;
}

// paragraph-s
.paragraph-s {
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  // identical to box height, or 18px
  color: $primary-color;
}

// paragraph-mobile-menu
.paragraph-mobile-menu {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  // or 51px
  color: $primary-color;
}


// logo_subtitle
.logo_subtitle {
  font-family: $secondary-font;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: $primary-color;
}